/* Stili per il bottone Submit */
.button-submit {
    -fx-background-color: #154c16; /* Colore di sfondo verde */
    -fx-text-fill: white; /* Colore del testo bianco */
    -fx-font-size: 14px; /* Dimensione del font */
    -fx-font-family: "Arial"; /* Famiglia del font */
    -fx-padding: 8px 16px; /* Padding interno (top-bottom, left-right) */
    -fx-border-radius: 5px; /* Arrotondamento dei bordi */
    -fx-background-radius: 5px; /* Arrotondamento dei bordi del background */
    -fx-cursor: hand; /* Cambia il cursore quando si passa sopra il bottone */
}

/* Stile quando il mouse è sopra il bottone */
.button-submit:hover {
    -fx-background-color: #45a049; /* Cambia il colore di sfondo quando il mouse è sopra */
}

/* Stile quando il bottone è premuto */
.button-submit:pressed {
    -fx-background-color: #357a38; /* Cambia il colore di sfondo quando il bottone è premuto */
}
.image-view {
    -fx-preserve-ratio: true;
    -fx-fit-width: 100%;
    -fx-fit-height: 100%;
    -fx-margin: 10px;
}
.progress-bar {
    -fx-accent: linear-gradient(to right, #4facfe, #00f2fe);
    -fx-background-color: transparent;
    -fx-border-color: #4facfe;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 5px;
}

.progress-bar .track {
    -fx-background-color: transparent;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.progress-bar .bar {
    -fx-background-color: linear-gradient(to right, #4facfe, #00f2fe);
    -fx-background-radius: 10px;
}

.progress-label {
    -fx-text-fill: black;
    -fx-font-size: 18px; /* Dimensione del font */
    -fx-font-family: "Arial"; /* Famiglia del font */
}

.loginBackground {
    -fx-background-image: url("MyCodexNaturalisPhotos/pic6518929.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: stretch; /* Centra l'immagine */
}
.custom-background {
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: cover;
}
