/* Stili per il bottone Submit */

.buttonA {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #006400 0%, #154c16 100%),
            #228B22,
            #228B22,
            radial-gradient(center 50% 50%, radius 100%, #228B22, #006400);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 4, 0.0, 0, 1);
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
.buttonA:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #32CD32 0%, #9ACD32 100%),
            #008000,
            #228B22,
            radial-gradient(center 50% 50%, radius 100%, #228B22, #32CD32);
}
.buttonA:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.buttonA Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}

.button-submit {
    -fx-background-color: #154c16; /*Colore di sfondo verde */
    -fx-text-fill: white; /* Colore del testo bianco */
    -fx-font-size: 14px; /* Dimensione del font */
    -fx-font-family: "Arial"; /* Famiglia del font */
    -fx-background-insets: 0,1,2,3;
    -fx-padding: 10 20 10 20;
    -fx-border-radius: 5px; /* Arrotondamento dei bordi */
    -fx-background-radius: 5px; /* Arrotondamento dei bordi del background */
    -fx-cursor: hand; /* Cambia il cursore quando si passa sopra il bottone */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 4, 0.0, 0, 1);
}

/* Stile quando il mouse è sopra il bottone */
.button-submit:hover {
    -fx-background-color: #45a049; /* Cambia il colore di sfondo quando il mouse è sopra */
}

/* Stile quando il bottone è premuto */
.button-submit:pressed {
    -fx-background-color: #357a38; /* Cambia il colore di sfondo quando il bottone è premuto */
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.6), 6, 0.0, 0, 1);
}
.image-view {
    -fx-preserve-ratio: true;
    -fx-fit-width: 100%;
    -fx-fit-height: 100%;
    -fx-margin: 10px;
}
.progress-bar {
    -fx-accent: linear-gradient(to right, #4facfe, #00f2fe);
    -fx-background-color: transparent;
    -fx-border-color: #4facfe;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 5px;
}

.progress-bar .track {
    -fx-background-color: transparent;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.progress-bar .bar {
    -fx-background-color: linear-gradient(to right, #4facfe, #00f2fe);
    -fx-background-radius: 10px;
}

.progress-label {
    -fx-text-fill: black;
    -fx-font-size: 18px; /* Dimensione del font */
    -fx-font-family: "Arial"; /* Famiglia del font */
}

.loginBackground {
    -fx-background-image: url("MyCodexNaturalisPhotos/pic6518929.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: stretch; /* Centra l'immagine */
}
.custom-background {
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: cover;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 0);
}
.tappeto-background {
    -fx-background-image: url("MyCodexNaturalisPhotos/sfondorosso.jpeg");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-border-color: rgba(255, 0, 0, 0.5);
    -fx-border-width: 3; /* Larghezza del bordo */
    -fx-border-radius: 10;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}


